@import '~leaflet/dist/leaflet.css';
@import '../../components/summary-bar/styles.css';
h1, h2 {
  width: fit-content;
  margin: 10px auto;
}
.details {
  h1 {
    margin: 10px;
  }
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.chart {
  padding: 10px;
  height: 300px;
}
.containerMap {
  width: 100%;
  z-index: 0;
}