.grid{
    height:100vh;
    padding: 10px 10px 20px;
    margin: 40px;
}
.chart {
    padding: 10px;
    min-width: 33vw;
    width: 100%;
    height: 300px;
}
.two-col-chart {
    padding: 10px;
    min-width: 29.5vw;
    width: 100%;
    height: 300px;
}
.side-col{
    padding-top: 30px;
}
.gry, .gry-div {
    background: #ccc;
    height: 100px;
    width: 25vw;
}
.dialog-headline{
    margin-bottom: 20px;
}
.facet-value{
    font-size: 14px;
    margin-bottom: 10px;
}