h1, h2 {
  width: fit-content;
  margin: 10px auto;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
.chart {
  padding: 10px;
  height: 300px;
}