.resultSet {
  li {
    padding-left: 5px;
    font-size: 1.1em;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px dotted grey
  }
  list-style: none;
  max-height: 400px;
  overflow: scroll;
}
.myToast {
  position: absolute;
  z-index: 1001;
}